<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="chromeTest">
  <parameter name="browser" value="chrome"></parameter> 
    <classes>
      <class name="com.test.Testclass"/>
     </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="edgeTest">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.test.Testclass"/>
     </classes>
  </test>
  
  
  
  
  
  
</suite> <!-- Suite -->
